<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>



    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aspernatur natus nemo sequi repellat. Accusantium, fugit ex. Iste ducimus assumenda dolore quam ipsum at sit reprehenderit fugit enim veniam? Voluptas repudiandae atque veniam magnam quidem ut, labore aperiam laudantium magni!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea beatae fuga ab? Obcaecati error modi quis hic, et corrupti natus sequi autem. Iste minima nisi ipsum quod accusamus nemo consequatur, distinctio temporibus, fugiat vero quo laboriosam id eos ex velit!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit qui iste omnis, odio consectetur blanditiis velit eum, pariatur fugit voluptates porro voluptate doloribus sint corporis vel explicabo mollitia officia quo, minima temporibus architecto itaque? Libero tempora ab ex, accusamus provident placeat in nobis nihil numquam inventore fugit eveniet, perferendis error?</p>
    </div>

    <%- include('./partials/footer.ejs') %>    

</body>
</html>